# Archivos de sistema
.DS_Store
Thumbs.db

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Streamlit
.streamlit/secrets.toml

# Logs
*.log

# Datos temporales
*.tmp
*.temp